.background {
  viewport-fill: fb-cyan;
}

#line1 {
  fill: black;
  font-size: 75;
  font-family: SevilleSharp-Book;
  font-weight: bold;
}

#line2 {
  fill: black;
  font-size: 40;
  font-family: SevilleSharp-Book;
}

#line3 {
  fill: black;
  font-size: 40;
  font-family: SevilleSharp-Book;
}

#line4 {
  fill: black;
  font-size: 40;
  font-family: SevilleSharp-Book;
}

#line5 {
  fill: black;
  font-size: 40;
  font-family: SevilleSharp-Book;
}

#line6 {
  fill: black;
  font-size: 40;
  font-family: SevilleSharp-Book;
}

#line7 {
  fill: black;
  font-size: 40;
  font-family: SevilleSharp-Book;
}

#line8 {
  fill: black;
  font-size: 40;
  font-family: SevilleSharp-Book;
}
